body, p {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, em, .title, nav, #menutoggle {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
h2 {
    font-weight: 700;
    color: #0A4D59;
    text-transform: uppercase;
    text-align: center;
}
.strike {
    text-decoration: line-through;
    color: red;
}
em.text-center {
    display: block;
}
ul {
    margin: 0;
}
a {
    color: #0eb7c9;
}
a:hover {
    color: #0A4D59;
}
header {
    padding: 20vh 15%;
    min-height: 100vh;
    background: #efefef;
}
header .logo {
    width: 15rem;
    max-width: 100%;
    margin: 0 auto;
}
header h1, header p {
    margin: 0;
    line-height: 1.05;
}
header h1 {
    font-weight: 800;
    color: #0A4D59;
    font-size: 6rem;
    text-shadow: 1px 1px 0 #fff;
}
header em {
    font-weight: 300;
    letter-spacing: -0.025em;
    font-size: 2rem;
    color: #707070;
}

.menu img {
    width: 8rem;
    max-width: 100%;
}
nav {
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999;
}
#menutoggle{
    display: none;
}

.menu li {
    display: inline-block;
}
nav .menu > li:not(.menu-text) > a {
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    text-transform: lowercase;
}
.menu li a:hover {
    background: #0A4D59;
}
.arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-top: 3rem solid #efefef;
    margin: 0 auto -3rem;
}
#features-section {
    background-color: #0A4D59;
    color: #fff;
}
#features-section h2 {
    color: #fff;
}
.arrow-down.features {
    border-top-color: #0A4D59;
}

section {
    padding: 15vh 15% 10vh;
    min-height: 100vh;
}

#features-section ul {
    margin-top: 2rem;
    list-style-type: none;
    color: #0eb7c9;
    font-size: 2rem;
    text-align: center;
}
#features-section ul li > span {
    font-size: 1rem;
    vertical-align: middle;
    color: #efefef;
}

#pricing-section h3 {
    text-align: center;
    text-transform: lowercase;
    background: #0eb7c9;
    color: #fff;
    font-weight: 500;
}
#pricing-section ul {
    list-style: none;
}
#pricing-section ul li:nth-child(even) {
    background: #efefef;
}
#pricing-section ul li {
    padding: 0.25rem;
    text-align: center;
}
#pricing-section h4 {
    text-align: center;
    color: #0EB7C9;
    font-weight: 800;
    margin-top: 1rem;
}
#pricing-section .medium-4 {
    padding: 0.25rem;
}
.package {
    border: 1px solid #efefef;
    padding: 1rem;
    position: relative;
}
.package:not(.cornerstone) {
    margin-top: 2rem;
}
.cornerstone.package:after {
    content: 'Most popular!';
    width: 100%;
    text-align: center;
    background: #ffae00;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cornerstone.package {
    box-shadow: 0 0 1rem 0.01rem rgba(0,0,0,0.2);
    padding-bottom: 3rem;
}

#pricing-section .button {
    margin: 2rem;
    background: #0EB7C9;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.75rem 2rem 1rem;
}
#pricing-section .button:hover {
    background: #0A4D59;
}

.arrow-down.pricing {
    border-top-color: #fff;
}

#signup-section {
    background: #efefef;
}
#signup-form {
    background: #fff;
    padding: 2rem;
    width: 40rem;
    max-width: 100%;
    margin: 1rem auto;
}
#signup-form input, #signup-form textarea, #signup-form select {
    box-shadow: none;
    border: 0;
    border-bottom: 0.15rem #ccc dotted;
    background-color: #fff;
}
#signup-form textarea {
    min-height: 8rem;
    margin-bottom: 2rem;
}
#signup-form button {
    background: #0c4d78;
}
#signup-form button:hover {
    background: #0e6ba4;
}
#signup-form-messages:empty {
    display: none;
}
#signup-form-messages.error {
    margin: 1rem 0;
    background: #fafafa;
    border: 1px solid red;
    color: red;
    padding: 1rem;
}

.arrow-down.signup {
    border-top-color: #efefef;
}

#contact-section {
    background: #444;
}
#contact-section h2 {
    color: #fff;
}
#contact-section form {
    width: 25rem;
    max-width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background: #0eb7c9;
}
#contact-section input, #contact-section textarea {
    border: none;
}
#contact-section textarea {
    height: 7rem;
}
#contact-section input[type='submit'] {
    background:#0A4D59;
    color: #fff;
    padding: 0.5rem 1rem;
}
#form-messages {
    font-size: 1.5rem;
    text-align: center;
    color: #efefef;
    font-style: italic;
}
.g-recaptcha {
    margin-bottom: 1rem;
    overflow: hidden;
}

button {
    text-transform: uppercase;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 0.5rem;
    color: #fff;
}
button:hover {
    background: rgba(0,0,0,0.1);
}

footer {
    background: #111;
    color: #717171;
    padding: 2rem 0 1rem;
}

@media screen and (max-width: 40em){
    #menutoggle {
        font-weight: bold;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
        background: #0a0a0a;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    #menutoggle a {
        color: #fff;
    }
    #menutoggle a:hover {
        color: #0eb7c9;
    }
    #menutoggle i {
        margin-right: 0.5rem;
    }
    nav {
        display: none;
    }
    nav.show {
        display: block;
        margin-top: 2.5rem;
    }
    nav.show li {
        display: block;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    header {
        padding: 5rem 1rem 3rem;
        min-height: 1rem;
    }
    header .logo {
        width: 3rem;
        float: left;
    }

    header h1 {
        display: inline;
        font-size: 2rem;
        margin-left: 0.5rem;
    }
    header p, header em {
        display: block;
        clear: both;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    section {
        min-height: 1rem;
        padding: 5rem 1rem;
    }
    
    footer p {
        text-align: center !important;
    }

    #contact-section form, form {
        width: 100%;
    }
}